.container {
  margin: auto;
  margin-top: 4em;
  width: 44em;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  font-family: 'Helvetica Neue', sans-serif, sans-serif;
}
.title {
  font-family:'Courier New', Courier, monospace;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
}
.row {
  padding: 16px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



/* Balances */

.debug {
  border: 1px solid red;
}

.sectionContainer {
  border: 1px solid black;
  width: 90%;
  border-radius: 180px;
  margin: 16px;
  margin-top: 0;
}


.dateText {
  font-size: 1em;
}

.rowTxn {
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  height: 40px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.txnContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}


.axieImage {
  border-radius: 50%;
  height: 32px;
}

.date {
  margin: 4px;
}


.spawnInfo {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.align-start {
  align-items: start;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
.margin-0 {
  margin: 0;
}

.column {
  flex-direction: column;
}

.font-s {
  font-size: 0.8em;
}

.debug {
  border: 1px solid red;
}
.spawnText {
  font-size: 0.7em;
  margin: 0;
  padding: 1px;
}

.grey {
  color:rgb(112, 112, 112);
}


.gasEth {
  font-size: 0.7em;
  text-align: end;
}

.gasQuote {
  font-size: 0.7em;
  text-align: end;
}

.rightTxn {
  margin-left: 8px;
}

.clickable {
  cursor: pointer;
}

.loading {
  margin: auto;
  text-align:center;
}


/* Pools */

a {
  text-decoration: none;
  color: inherit;
}
